<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="shortcut icon" href="images/banan.png" type="image/x-icon">
</head>
<body>

<form th:action="@{/account/changePassword}" method="post">
    <p><input type="text"  name="newPassword" placeholder="New Password"></p>
    <p><input type="text"  name="oldPassword" placeholder="Old Password"></p>
    <p><input type="submit"></p>
</form>
<p></p>
<span th:text="${message}"></span>
<form th:action="@{/account}" th:method="get" >
    <button type="submit">My Page</button>
</form>
</body>
</html>