<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="shortcut icon" href="images/banan.png" type="image/x-icon">
</head>
<body>

<form th:action="@{/forgotPassword}" method="post">
    <p><input type="text"  name="username" placeholder="Your Username"></p>
    <p><input type="submit"></p>
</form>
<p></p>
<span th:text="${message}"></span>
<form th:action="@{/account}" th:method="get" >
    <button type="submit">My Page</button>
</form>
</body>
</html>