<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" type="image/png" th:href="@{/img/ban.jpg}" />

</head>
<body>
<h3>Messaging with <span id="username" th:text="${toUsername}"></span></h3>


<div id="myDiv">
</div>


<form style="text-align: center" method="post" th:action="@{/account/sendMessage/__${toUsername}__}">
    <input type="text" placeholder="your message" name="messageText">
    <button type="submit">Send Message</button>
    <p></p>
</form>



<form style="text-align: center" th:action="@{/account}" th:method="get" >
    <button type="submit">My Page</button>
</form>

<script th:src="@{/js/message.js}"></script>
</body>
</html>