<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>My Songs</title>
    <link rel="icon" type="image/png" th:href="@{/img/ban.jpg}" />
</head>
<body>


<span th:text="${user.getUsername()}"></span>
<p></p>
<span th:text="${user.getName()}"></span>
<span th:text="${user.getSurname()}"></span>
<p></p>





<th:block th:each="song : ${songs}">
    <figure>
        <figcaption><span th:text="${song.getName}"></span></figcaption>
        <audio
                controls
                th:src="@{@{/mp3/__${song.getName}__}}">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </figure>
    <form method="post" th:action="@{@{/account/deleteSong/__${song.getName}__}}"><button type="submit">Delete</button> </form>
</th:block>



<p></p>
<form th:action="@{/account}" th:method="get">
    <button type="submit">My Page</button>
</form>


</body>
</html>