<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Publications</title>
    <link rel="icon" type="image/png" th:href="@{/img/ban.jpg}" />
</head>
<body>


<span th:text="${user1.getUsername()}"></span>
<p></p>
<span th:text="${user1.getName()}"></span>
<span th:text="${user1.getSurname()}"></span>
<p></p>


<th:block th:each="publication : ${publications}">
    <form action="" th:method="get">
        <li th:utext="${publication.getMessage()}">..</li>
        <span th:utext="${publication.getDate()}"></span>
    </form>
    <p></p>
</th:block>




<p></p>
<form th:action="@{/account}" th:method="get" >
    <button type="submit">My Page</button>
</form>
</body>
</html>